.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  height: 100vh;
  padding: 8px;
  position: relative;
  margin: 0;
}

.logo-container {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 0px;
}

.name {
  margin: 15px 0;
  font-size: 20px;
  color: #f0f8ff;
  text-shadow: 
    0px 0px 8px rgba(151, 32, 255, 0.8),
    0px 0px 16px rgba(151, 32, 255, 0.9),
    0px 0px 24px rgba(151, 32, 255, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 900px;
  padding: 20px;
  background-color: #222222;
  border-radius: 20px;
  box-shadow:
    0px 0px 10px rgba(151, 32, 255, 0.8),
    0px 0px 20px rgba(151, 32, 255, 0.9),
    0px 0px 30px rgba(151, 32, 255, 1);
}

.titulo {
  margin: 15px 0;
  font-size: 30px;
  color: #f0f8ff;
  text-shadow:
    0px 0px 8px rgba(151, 32, 255, 0.8),
    0px 0px 16px rgba(151, 32, 255, 0.9),
    0px 0px 24px rgba(151, 32, 255, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.tabs {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.tab {
  padding: 8px 15px;
  font-size: 18px;
  background-color: #333333;
  color: #f0f8ff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab:hover {
  background-color: rgba(151, 32, 255, 0.6);
}

.tab.active {
  background-color: rgba(151, 32, 255, 1);
  color: #fff;
}

.form-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 15px;
}

.formulario {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 45%;
  max-width: 400px;
  transition: all 0.3s ease;
}

.formulario.active {
  display: block;
}

.form-title {
  font-size: 24px;
  color: #f0f8ff;
  text-shadow:
    0px 0px 8px rgba(151, 32, 255, 0.8),
    0px 0px 16px rgba(151, 32, 255, 0.9),
    0px 0px 24px rgba(151, 32, 255, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.campo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.campo label {
  color: #f0f8ff;
  margin-bottom: 5px;
  font-weight: 300;
}

.campo input {
  width: 95%;
  padding: 8px;
  margin-bottom: 8px;
  border: 2px solid #f0f8ff;
  border-radius: 5px;
  background-color: #1e1e1e;
  color: #f0f8ff;
  font-size: 14px;
}

.campo input:focus {
  outline: none;
  border-color: rgba(151, 32, 255, 1);
  box-shadow: 0 0 5px rgba(151, 32, 255, 0.8);
}

.btn-login {
  background-color: rgba(151, 32, 255, 1);
  color: #fff;
  border: none;
  padding: 8px 18px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(151, 32, 255, 1);
  transition: all 0.3s ease;
}

.btn-login:hover {
  background-color: rgba(151, 32, 255, 0.8);
  box-shadow: 0 0 15px rgba(151, 32, 255, 1);
}
