body {
  background-color: #222222;
  font-family: Arial, Helvetica, sans-serif;
  color: #f0f8ff;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.navbar {
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  width: 80px;
  height: auto;
  margin-right: 10px;
}

.name {
  font-size: 24px;
  color: #f0f8ff;
  text-shadow: 
    0px 0px 10px rgba(151, 32, 255, 0.8),
    0px 0px 20px rgba(151, 32, 255, 0.9),
    0px 0px 30px rgba(151, 32, 255, 1);  
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  color: #f0f8ff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #d8b4fe;
}

.feed-container {
  width: 80%;
  max-width: 1000px;
  background-color: #333333;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 20px rgba(151, 32, 255, 0.8), 0 0 40px rgba(151, 32, 255, 0.9);
  margin-top: 120px;
  position: relative;
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #d8b4fe;
  text-align: center;
  text-shadow: 
    0 0 10px rgba(151, 32, 255, 0.8),
    0 0 20px rgba(151, 32, 255, 0.9),
    0 0 30px rgba(151, 32, 255, 1);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 15px;
  margin-top: 20px;
}

.card {
  background-color: #9a6ccf;
  border-radius: 8px;
  padding: 15px;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  transition: transform 0.3s ease;
  height: 200px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(151, 32, 255, 0.8);
}

.card img {
  width: 40px;
  height: auto;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 18px;
  margin: 10px 0;
  color: #f0f8ff;
  text-shadow: 
    0 0 10px rgba(151, 32, 255, 0.8),
    0 0 20px rgba(151, 32, 255, 0.9),
    0 0 30px rgba(151, 32, 255, 1);
}

.card p {
  font-size: 12px;
  color: #f2f2f2;
}

.navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  width: 100%;
}

.nav-button {
  font-size: 60px;
  color: #9a6ccf;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-button:hover {
  color: #d8b4fe;
}

.nav-button-prev {
  position: absolute;
  left: -100px;
}

#canditar-link{
  display: block;
  width: inherit;
}

#canditar-link .button{
  width: 70%;
  margin: 20px 15% auto 15%;
}

.nav-button-next {
  position: absolute;
  right: -100px;
}

.top-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.top-button {
  background-color: #6a00ff00;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 23;
}

.top-button:hover {
  background-color: #9720ffcc;
}

.info-container {
  margin-top: 20px;
}

.info-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
 
}

.info-row i {
  font-size: 20px;  /* Ajuste o tamanho do ícone, se necessário */
  margin-right: 10px;  /* Espaço entre o ícone e o texto */
}

.info-text {
  color: #fff;
  font-size: 16px;
  text-align: left;  /* Garante que o texto seja alinhado à esquerda */
}

.description {
  color: #fff;
  margin-top: 20px;
  line-height: 24px;
}

.requirements, .resume {
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 8px #6a00ff;
  margin-top: 20px;
}

.button {
  background-color: #9720ffcc;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  align-content: center;
  
}

.button:hover {
  background-color: #5500cc;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input,
select {
  width: 75%;
  /*max-width: 500px;*/
  padding: 12px;
  margin: 10px 13% 10px 12%;
  border-radius: 10px;
  border: 1px solid #ffffff;
  background-color: #333333;
  color: #fff;
  font-size: 16px;
}

.input:focus,
select:focus {
  border-color: #9720ff;
  outline: none;
}

#nivelEscolaridade {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ffffff;
  background-color: #333333;
  color: #fff;
  font-size: 16px;
}

#nivelEscolaridade:focus {
  border-color: #9720ff;
  outline: none;
}

textarea.input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea.input:focus {
  border-color: #007bff;
  outline: none;
}

.label {
  color: #ffffff;
  font-size: 16px;
  margin-top: 10px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  align-items: flex-start;
}

.radio-group label {
  margin: 5px 0;
  color: #fff;
}

.radio-group input[type="radio"] {
  margin-right: 8px;
}

.date-range {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.date-range .input {
  width: 48%;
}

.button {
  background-color: #9720ffcc;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  width: 100%;
  max-width: 500px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}

.button:hover {
  background-color: #5500cc;
}

input[type="date"],
input[type="text"] {
  background-color: #333333;
}

.radio-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.radio-group label {
  margin: 0 15px;
  color: #fff;
  font-size: 16px;
}

.radio-group input[type="radio"] {
  margin-right: 8px;
}

/*animação de check */
#check-container {
  display: none; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 128, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  text-align: center;
  z-index: 1000;
}

#check-container i {
  font-size: 50px;
  animation: checkAnimation 1s ease-in-out;
}

.profile-container {
  width: 80%;
  max-width: 1000px;
  background-color: #333333;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(151, 32, 255, 0.8), 0 0 40px rgba(151, 32, 255, 0.9);
  margin-top: 120px;
}

.profile-header {
  text-align: center;
  margin-bottom: 30px;
}

.profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #9720ff;
}

.profile-name h1 {
  color: #d8b4fe;
  font-size: 28px;
  margin-top: 10px;
}

.profile-info {
  margin-top: 20px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.info-row p {
  color: #f0f8ff;
  font-size: 16px;
}

.edit-btn {
  background-color: transparent;
  border: none;
  color: #9720ff;
  cursor: pointer;
  font-size: 20px;
}

.edit-btn:hover {
  color: #d8b4fe;
}

.curriculo-btn-container {
  margin-top: 30px;
  text-align: center;
}

.curriculo-btn {
  background-color: #9720ffcc;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  width: 100%;
  max-width: 500px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.curriculo-btn:hover {
  background-color: #5500cc;
}

.curriculo-content {
  margin-top: 30px;
  text-align: center;
}

#curriculoInfo {
  color: #f0f8ff;
  font-size: 16px;
  margin-top: 20px;
}

.profile-info .info-row input {
  width: 100%;
  max-width: 500px;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ffffff;
  background-color: #333333;
  color: #fff;
  font-size: 16px;
}

.profile-info .info-row input:focus {
  border-color: #9720ff;
  outline: none;
}

.curriculo-btn-container {
  margin-top: 30px;
  text-align: center;
}

.curriculo-btn {
  background-color: #9720ffcc;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  width: 100%;
  max-width: 500px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}


.curriculo-content {
  margin-top: 30px;
  padding: 20px;
  background-color: #7801ff62;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#curriculoInfo p {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 10px;
  align-items: right;
}

#curriculoInfo a {
  color: #007BFF;
  text-decoration: none;
}

#curriculoInfo a:hover {
  text-decoration: underline;
}

.curriculo-btn:hover {
  background-color: #5500cc;
}

@keyframes checkAnimation {
  0% { transform: scale(0); opacity: 0; }
  50% { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(1); opacity: 1; }
}

.notifications-list {
  list-style-type: none;
  padding: 0;
}

.notification-card {
  border: 2px solid #ffffff; /* Borda maior */
  border-radius: 12px; /* Borda mais arredondada */
  padding: 14px; /* Diminuímos o padding para um layout mais compacto */
  margin: 10px 0;
  background-color: #ffdddd; /* Cor de fundo mais suave */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notification-card p {
  font-size: 14px; /* Fonte menor */
  margin: 0;
  color: #333; /* Cor de texto escura para melhor contraste */
}

.notification-card small {
  color: #666; /* Texto em cinza mais claro para a data */
  font-size: 10px; /* Diminuindo o tamanho da fonte para a data */
}

.notification-card button {
  align-self: flex-start;
  padding: 4px 8px;
  background-color: #9720ff;
  color: white; /* Mantemos a cor branca no texto do botão */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px; /* Fonte menor no botão */
}

.notification-card button:hover {
  background-color: #9720ff; /* Cor do botão ao passar o mouse */
}

.read {
  background-color: #f7e0f1;  /* Cor verde claro para notificações lidas */
}

.unread {
  background-color: #9720ff;  /* Cor roxa para notificações não lidas */
  border-radius: 4px; /* Borda arredondada para notificações não lidas */
}




@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }

  .feed-container {
    width: 90%;
    padding: 24px;
  }

  .input,
  select,
  .button {
    max-width: 100%;
  }

  .date-range {
    flex-direction: column;
  }

  .date-range .input {
    width: 100%;
  }
}

.logout-btn {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.logout-btn:hover {
  background-color: #d32f2f; 
}
